@font-face {
  font-family: museo_sans;
  src: url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.eot);
  src: url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.eot?#iefix) format("embedded-opentype"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.woff2) format("woff2"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.woff) format("woff"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.ttf) format("truetype"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-300-webfont.svg#museo_sans300) format("svg");
  font-weight: 300;
  font-style: normal
}

@font-face {
  font-family: museo_sans;
  src: url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.eot);
  src: url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.eot?#iefix) format("embedded-opentype"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.woff2) format("woff2"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.woff) format("woff"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.ttf) format("truetype"), url(http://images.elo7.com.br/assets/v3/fonts/museo-sans-500-webfont.svg#museo_sans500) format("svg");
  font-weight: 500;
  font-style: normal
}

/* GENERAL */
a {
  text-decoration: none;
  color: #359c9c;
  font-size: 1.1rem;
  font-weight: 500;
}
a:hover { text-decoration: underline; }

.divisor {
  width: 25%;
  height: 2px;
  margin: 1.2rem auto;
  background-color: rgba(125, 120, 115, 0.5);
  border: none;
}

.button { text-transform: uppercase; }
.button:after { content: " »"; }

/* HOME */
.home {
  font-family: museo_sans, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5rem;
  margin: 0;
  color: #7d7873;
  width: 960px;
}

/* SPLASH */
.splash .figura,
.splash .figura .imagem {
  width: 100%;
  margin: 0;
}

.splash .figura {
  position: relative;
}

.splash .figura .descricao {
  position: absolute;
  bottom: 7rem;
  width: 100%;
}

.splash .figura .descricao .titulo {
  color: #FFF;
  text-align: center;
  font-size: 300%;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0,0,0, 0.5);
}

/* SOBRE */
.sobre {
  margin: 1.2rem 2rem;
  text-align: center;
}
